{"openapi":"3.1.0","info":{"title":"datos-itam Observatorio API","description":"\nAPI pública del Observatorio de Datos Públicos Mexicanos.\n\n**Datasets expuestos:**\n- **Servidores públicos CDMX** (schema `cdmx`): 246K registros de servidores\n  públicos de la Ciudad de México.\n- **ENIGH 2024 Nueva Serie** (schema `enigh`): Encuesta Nacional de Ingresos\n  y Gastos de los Hogares 2024, 91K hogares muestra, expandible a 38.8M\n  hogares nacional.\n- **CONSAR AFORE recursos** (schema `consar`): serie mensual de recursos\n  registrados en el SAR por AFORE, 326 meses (1998-05 a 2025-06), 11 AFOREs,\n  15 tipos de recurso (35,617 filas).\n- **ENOE 15+** (schema `enoe`): Encuesta Nacional de Ocupación y Empleo,\n  101.5M filas de microdatos + 76,557 indicadores agregados, 80 trimestres\n  (2005T1-2025T1), 13 indicadores núcleo, 32 entidades federativas, 3 etapas\n  metodológicas (clasica/etoe_telefonica/enoe_n).\n- **Comparativos cross-dataset** (`/comparativo/*`): análisis CDMX↔ENIGH\n  cuantificados.\n\n**Rigor metodológico:**\n- 13 bounds oficiales INEGI reproducidos al peso (Δ máx 0.078%)\n- Factor-weighted cumulative sum para deciles (NO NTILE)\n- Byte-exact local ≡ Neon verificado vía MD5 cross-DB\n- Tests E2E en cada push validan producción\n\n**Fuente oficial:**\n[Comunicado INEGI 112/25](https://www.inegi.org.mx/contenidos/saladeprensa/boletines/2025/enigh/ENIGH_2024NS.pdf)\n(julio 2025).\n\n**Respaldo institucional:** Iniciativa de investigación con respaldo institucional del ITAM. Posicionamiento completo en [datosmexico.org/quienes-somos](https://datosmexico.org/quienes-somos).\n","termsOfService":"https://datos-itam.org/terms","contact":{"name":"Observatorio datos-itam","url":"https://datos-itam.org/","email":"df.avila.diaz@gmail.com"},"license":{"name":"MIT License","url":"https://opensource.org/licenses/MIT"},"version":"1.0.0"},"servers":[{"url":"https://api.datos-itam.org","description":"Producción"}],"paths":{"/api/v1/auth/register":{"post":{"tags":["auth"],"summary":"Registro de usuarios — deshabilitado","description":"Endpoint de registro de usuarios **intencionalmente deshabilitado**. La route existe en el código y siempre devuelve `403 Forbidden` con el mensaje correspondiente. Si en el futuro el observatorio decide abrir registro público, la route ya está lista en el contrato del API y sólo requiere reemplazar el cuerpo de la función por la lógica de creación. La provisión actual de cuentas admin se hace por CLI (`api/scripts/create_admin.py`); contacto: `df.avila.diaz@gmail.com`.","operationId":"register_api_v1_auth_register_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCreate"}}},"required":true},"responses":{"403":{"description":"Registro deshabilitado actualmente. La route existe en el código pero está intencionalmente bloqueada.","content":{"application/json":{"schema":{},"example":{"detail":"Registration is currently disabled. Admin users are created via CLI (see api/scripts/create_admin.py). Contact project owner: df.avila.diaz@gmail.com"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/auth/token":{"post":{"tags":["auth"],"summary":"Obtener JWT por OAuth2 password flow","description":"Autenticación por OAuth2 password flow. Recibe `username` y `password` como `application/x-www-form-urlencoded` y devuelve un JWT bearer con vigencia `ACCESS_TOKEN_EXPIRE_MINUTES` (default 30 minutos). El token debe enviarse en endpoints autenticados como `Authorization: Bearer <token>`. Algoritmo de firma: `HS256` (simétrico, secret en variable de entorno `SECRET_KEY`).","operationId":"login_api_v1_auth_token_post","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Body_login_api_v1_auth_token_post"}}},"required":true},"responses":{"200":{"description":"Token JWT bearer emitido. Vigencia: `ACCESS_TOKEN_EXPIRE_MINUTES` (default 30 minutos).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Token"},"example":{"access_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...","token_type":"bearer"}}}},"401":{"description":"Credenciales incorrectas (usuario inexistente o password no coincide).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError401"},"example":{"detail":"Incorrect username or password"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/auth/me":{"get":{"tags":["auth"],"summary":"Perfil del usuario autenticado","description":"Devuelve el perfil del usuario asociado al JWT enviado en el header `Authorization`. Útil para que un cliente confirme la vigencia del token y obtenga su flag `is_admin`. No incluye el `hashed_password` ni datos sensibles.","operationId":"get_me_api_v1_auth_me_get","responses":{"200":{"description":"Perfil del usuario autenticado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResponse"},"example":{"id":1,"username":"admin","email":"admin@datos-itam.org","is_active":true,"is_admin":true,"created_at":"2026-04-20T16:43:00Z"}}}},"401":{"description":"Token ausente, expirado, inválido, o usuario inactivo.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError401"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/servidores/":{"get":{"tags":["servidores"],"summary":"Listar servidores con filtros y paginación","description":"Lista paginada de servidores del padrón CDMX (246K registros). Soporta filtros por `sector_id`, `sexo`, rango de edad, rango de sueldo, `tipo_contratacion_id`, `tipo_personal_id`, `universo_id`, y `puesto_search` (búsqueda ILIKE sobre el nombre del puesto). Cache HTTP `public, max-age=300`.","operationId":"list_servidores_api_v1_servidores__get","parameters":[{"name":"sector_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Sector Id"}},{"name":"sexo","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sexo"}},{"name":"edad_min","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Edad Min"}},{"name":"edad_max","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Edad Max"}},{"name":"sueldo_min","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"},{"type":"null"}],"title":"Sueldo Min"}},{"name":"sueldo_max","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"},{"type":"null"}],"title":"Sueldo Max"}},{"name":"puesto_search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Puesto Search"}},{"name":"tipo_contratacion_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Tipo Contratacion Id"}},{"name":"tipo_personal_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Tipo Personal Id"}},{"name":"universo_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Universo Id"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"default":50,"title":"Per Page"}},{"name":"order_by","in":"query","required":false,"schema":{"type":"string","default":"id","title":"Order By"}},{"name":"order","in":"query","required":false,"schema":{"type":"string","default":"asc","title":"Order"}}],"responses":{"200":{"description":"Página de servidores.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponse_ServidorListItem_"},"example":{"data":[{"id":42,"nombre":"MARIA","apellido_1":"RODRIGUEZ","apellido_2":"LOPEZ","sexo":"FEMENINO","edad":38,"sueldo_bruto":18500.0,"sueldo_neto":14820.5,"sector":"Secretaría de Educación","puesto":"DOCENTE FRENTE A GRUPO"}],"total":246821,"page":1,"per_page":50,"pages":4937}}}},"429":{"description":"Rate limit excedido (30 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/servidores/stats":{"get":{"tags":["servidores"],"summary":"Estadísticas agregadas con filtros (panel reactivo)","description":"Estadísticas sobre el subconjunto del padrón que matchea los filtros recibidos: total, promedio, mediana, percentiles (p25/p75), min/max de sueldo bruto, promedio de neto y edad, desglose por género con brecha %, y distribución por rangos de sueldo (`0-5K`, `5K-10K`, ..., `120K+`). Es el endpoint que alimenta el panel de filtros reactivo del laboratorio público. Cache HTTP `public, max-age=300`.","operationId":"servidor_stats_api_v1_servidores_stats_get","parameters":[{"name":"sector_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Sector Id"}},{"name":"sexo","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sexo"}},{"name":"edad_min","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Edad Min"}},{"name":"edad_max","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Edad Max"}},{"name":"sueldo_min","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"},{"type":"null"}],"title":"Sueldo Min"}},{"name":"sueldo_max","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"},{"type":"null"}],"title":"Sueldo Max"}},{"name":"puesto_search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Puesto Search"}},{"name":"tipo_contratacion_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Tipo Contratacion Id"}},{"name":"tipo_personal_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Tipo Personal Id"}},{"name":"universo_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Universo Id"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"default":50,"title":"Per Page"}},{"name":"order_by","in":"query","required":false,"schema":{"type":"string","default":"id","title":"Order By"}},{"name":"order","in":"query","required":false,"schema":{"type":"string","default":"asc","title":"Order"}}],"responses":{"200":{"description":"Stats agregadas del subconjunto filtrado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServidorStats"},"example":{"total":8230,"sueldo_bruto_avg":14820.5,"sueldo_bruto_median":12500.0,"sueldo_bruto_p25":9200.0,"sueldo_bruto_p75":18750.0,"sueldo_bruto_min":0.0,"sueldo_bruto_max":95000.0,"sueldo_neto_avg":12200.3,"edad_avg":38.5,"count_hombres":3100,"count_mujeres":5130,"brecha_genero_pct":12.4,"distribucion_sueldo":[{"rango":"5K-10K","count":1820},{"rango":"10K-20K","count":4250}]}}}},"429":{"description":"Rate limit excedido (15 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/servidores/{servidor_id}":{"get":{"tags":["servidores"],"summary":"Detalle de un servidor por ID","description":"Detalle completo de un servidor (persona) por su ID numérico: datos personales, sueldo bruto/neto, fecha de ingreso, nivel salarial, sector, puesto, tipos de contratación/personal/nómina y universo. Cache HTTP `public, max-age=300`.","operationId":"get_servidor_api_v1_servidores__servidor_id__get","parameters":[{"name":"servidor_id","in":"path","required":true,"schema":{"type":"integer","title":"Servidor Id"}}],"responses":{"200":{"description":"Detalle del servidor.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServidorDetail"}}}},"404":{"description":"`servidor_id` no existe en `cdmx.personas`.","content":{"application/json":{"example":{"detail":"Servidor no encontrado"},"schema":{"$ref":"#/components/schemas/HTTPError404"}}}},"429":{"description":"Rate limit excedido (60 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/sectores/":{"get":{"tags":["sectores"],"summary":"Listar los 73 sectores del padrón CDMX con estadísticas","description":"Devuelve los 73 sectores con conteo de nombramientos, sueldo bruto promedio, y desglose hombres/mujeres por sector. Ordenado alfabéticamente. Cache HTTP `public, max-age=3600`.","operationId":"list_sectores_api_v1_sectores__get","responses":{"200":{"description":"Lista de sectores con stats agregadas.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/SectorWithStats"},"type":"array","title":"Response List Sectores Api V1 Sectores  Get"},"example":[{"id":1,"nombre":"Secretaría de Educación","total_servidores":8230,"sueldo_bruto_avg":14820.5,"count_hombres":3100,"count_mujeres":5130}]}}},"429":{"description":"Rate limit excedido (30 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/sectores/compare":{"get":{"tags":["sectores"],"summary":"Comparar dos sectores lado a lado","description":"Devuelve el detalle estadístico completo (sueldo promedio, mediana, percentiles, top 10 puestos, brecha de género) para dos sectores identificados por su `id`. Útil para visualizaciones comparativas. Si cualquiera de los dos sectores no existe, devuelve `404` (el primer raise gana — `a` antes que `b`). Cache HTTP `public, max-age=3600`.","operationId":"compare_sectores_api_v1_sectores_compare_get","parameters":[{"name":"a","in":"query","required":true,"schema":{"type":"integer","description":"ID del sector A","title":"A"},"description":"ID del sector A"},{"name":"b","in":"query","required":true,"schema":{"type":"integer","description":"ID del sector B","title":"B"},"description":"ID del sector B"}],"responses":{"200":{"description":"Comparación lado a lado de dos sectores.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SectorComparison"}}}},"404":{"description":"Uno o ambos `sector_id` no existen en `cdmx.cat_sectores`.","content":{"application/json":{"example":{"detail":"Sector no encontrado"},"schema":{"$ref":"#/components/schemas/HTTPError404"}}}},"429":{"description":"Rate limit excedido (15 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/sectores/{sector_id}/stats":{"get":{"tags":["sectores"],"summary":"Detalle estadístico de un sector","description":"Detalle completo de un sector identificado por `sector_id`: totales, promedio y mediana de sueldo bruto, percentiles, promedio de edad, desglose por género (con brecha %), y top 10 puestos del sector con su sueldo promedio. Cache HTTP `public, max-age=3600`.","operationId":"sector_stats_api_v1_sectores__sector_id__stats_get","parameters":[{"name":"sector_id","in":"path","required":true,"schema":{"type":"integer","title":"Sector Id"}}],"responses":{"200":{"description":"Detalle completo del sector.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SectorDetailStats"},"example":{"id":1,"nombre":"Secretaría de Educación","total_servidores":8230,"sueldo_bruto_avg":14820.5,"sueldo_bruto_median":12500.0,"sueldo_neto_avg":12200.3,"edad_avg":38.5,"count_hombres":3100,"count_mujeres":5130,"brecha_genero_pct":12.4,"top_puestos":[{"puesto":"DOCENTE","count":4200,"sueldo_avg":13200.0}]}}}},"404":{"description":"`sector_id` no existe en `cdmx.cat_sectores`.","content":{"application/json":{"example":{"detail":"Sector no encontrado"},"schema":{"$ref":"#/components/schemas/HTTPError404"}}}},"429":{"description":"Rate limit excedido (30 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/catalogos/tipos-contratacion":{"get":{"tags":["catalogos"],"summary":"Catálogo de tipos de contratación con conteo de uso","description":"Devuelve los tipos de contratación del padrón CDMX (Base, Honorarios, Eventual, etc.) con el conteo de nombramientos que referencian cada uno. Cache HTTP `public, max-age=3600`.","operationId":"tipos_contratacion_api_v1_catalogos_tipos_contratacion_get","responses":{"200":{"description":"Lista del catálogo con conteo de uso.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/CatalogItemWithCount"},"type":"array","title":"Response Tipos Contratacion Api V1 Catalogos Tipos Contratacion Get"},"example":[{"id":1,"nombre":"Base","count":153000},{"id":2,"nombre":"Honorarios","count":28400}]}}},"429":{"description":"Rate limit excedido (60 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/catalogos/tipos-personal":{"get":{"tags":["catalogos"],"summary":"Catálogo de tipos de personal con conteo de uso","description":"Devuelve los tipos de personal (Operativo, Mando, etc.) con conteo de nombramientos por tipo. Cache HTTP `public, max-age=3600`.","operationId":"tipos_personal_api_v1_catalogos_tipos_personal_get","responses":{"200":{"description":"Lista del catálogo con conteo de uso.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/CatalogItemWithCount"},"type":"array","title":"Response Tipos Personal Api V1 Catalogos Tipos Personal Get"},"example":[{"id":1,"nombre":"Base","count":153000},{"id":2,"nombre":"Honorarios","count":28400}]}}},"429":{"description":"Rate limit excedido (60 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/catalogos/tipos-nomina":{"get":{"tags":["catalogos"],"summary":"Catálogo de tipos de nómina con conteo de uso","description":"Devuelve los tipos de nómina identificados por la columna `clave` (integer, NO `nombre` como los otros catálogos) con conteo de uso. Cache HTTP `public, max-age=3600`.","operationId":"tipos_nomina_api_v1_catalogos_tipos_nomina_get","responses":{"200":{"description":"Lista del catálogo con conteo de uso.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/CatalogItemWithCount"},"type":"array","title":"Response Tipos Nomina Api V1 Catalogos Tipos Nomina Get"},"example":[{"id":1,"nombre":"Base","count":153000},{"id":2,"nombre":"Honorarios","count":28400}]}}},"429":{"description":"Rate limit excedido (60 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/catalogos/universos":{"get":{"tags":["catalogos"],"summary":"Catálogo de universos con conteo de uso","description":"Devuelve los universos del padrón CDMX (agrupaciones administrativas) con conteo de nombramientos por universo. Cache HTTP `public, max-age=3600`.","operationId":"universos_api_v1_catalogos_universos_get","responses":{"200":{"description":"Lista del catálogo con conteo de uso.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/CatalogItemWithCount"},"type":"array","title":"Response Universos Api V1 Catalogos Universos Get"},"example":[{"id":1,"nombre":"Base","count":153000},{"id":2,"nombre":"Honorarios","count":28400}]}}},"429":{"description":"Rate limit excedido (60 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/catalogos/sectores":{"get":{"tags":["catalogos"],"summary":"Catálogo de los 73 sectores con conteo de uso","description":"Devuelve los 73 sectores del padrón CDMX con conteo de nombramientos por sector, ordenados alfabéticamente. Cache HTTP `public, max-age=3600`.","operationId":"sectores_api_v1_catalogos_sectores_get","responses":{"200":{"description":"Lista del catálogo con conteo de uso.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/CatalogItemWithCount"},"type":"array","title":"Response Sectores Api V1 Catalogos Sectores Get"},"example":[{"id":1,"nombre":"Base","count":153000},{"id":2,"nombre":"Honorarios","count":28400}]}}},"429":{"description":"Rate limit excedido (60 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/catalogos/sexos":{"get":{"tags":["catalogos"],"summary":"Catálogo de sexos con conteo de uso","description":"Devuelve el catálogo `cat_sexos` (MASCULINO, FEMENINO, no especificado) con conteo de personas por valor. Cache HTTP `public, max-age=3600`.","operationId":"sexos_api_v1_catalogos_sexos_get","responses":{"200":{"description":"Lista del catálogo con conteo de uso.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/CatalogItemWithCount"},"type":"array","title":"Response Sexos Api V1 Catalogos Sexos Get"},"example":[{"id":1,"nombre":"Base","count":153000},{"id":2,"nombre":"Honorarios","count":28400}]}}},"429":{"description":"Rate limit excedido (60 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/catalogos/niveles-salariales":{"get":{"tags":["catalogos"],"summary":"Catálogo de niveles salariales con conteo de uso","description":"Devuelve los niveles salariales identificados por `clave` con conteo de nombramientos por nivel. Cache HTTP `public, max-age=3600`.","operationId":"niveles_salariales_api_v1_catalogos_niveles_salariales_get","responses":{"200":{"description":"Lista del catálogo con conteo de uso.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/CatalogItemWithCount"},"type":"array","title":"Response Niveles Salariales Api V1 Catalogos Niveles Salariales Get"},"example":[{"id":1,"nombre":"Base","count":153000},{"id":2,"nombre":"Honorarios","count":28400}]}}},"429":{"description":"Rate limit excedido (60 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/catalogos/puestos":{"get":{"tags":["catalogos"],"summary":"Catálogo paginado de puestos con búsqueda","description":"Devuelve los 1 772 puestos del padrón CDMX paginados, con conteo de nombramientos por puesto. Soporta búsqueda ILIKE vía `search`. Ordenado por conteo descendente. Cache HTTP `public, max-age=3600`.","operationId":"puestos_api_v1_catalogos_puestos_get","parameters":[{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Search"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"default":50,"title":"Per Page"}}],"responses":{"200":{"description":"Página del catálogo de puestos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponse_PuestoWithCount_"},"example":{"data":[{"id":1024,"nombre":"POLICIA","count":80000},{"id":1025,"nombre":"DOCENTE FRENTE A GRUPO","count":12500}],"total":1772,"page":1,"per_page":50,"pages":36}}}},"429":{"description":"Rate limit excedido (60 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/catalogos/{tipo}":{"post":{"tags":["catalogos"],"summary":"Crear un item en un catálogo (admin)","description":"[Uso interno administrativo] Inserta un item nuevo en uno de los catálogos: `sexos`, `puestos`, `tipos-contratacion`, `tipos-personal`, `tipos-nomina`, `universos`, `sectores`, `niveles-salariales`. Cada catálogo tiene su lista de campos requeridos (`nombre`, `clave`, o combinación). Requiere JWT admin. El SDK Python `datos-mexico` no expone este endpoint por ser operacional, no analítico.","operationId":"create_catalog_item_api_v1_catalogos__tipo__post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"tipo","in":"path","required":true,"schema":{"type":"string","title":"Tipo"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Body"}}}},"responses":{"201":{"description":"Item de catálogo creado.","content":{"application/json":{"schema":{}}}},"401":{"description":"JWT ausente o inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError401"}}}},"403":{"description":"Usuario autenticado sin privilegios admin.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError403"}}}},"404":{"description":"El `tipo` de catálogo no existe (debe ser uno de los 8 listados).","content":{"application/json":{"example":{"detail":"Catalog type 'foo' not found"},"schema":{"$ref":"#/components/schemas/HTTPError404"}}}},"422":{"description":"Campo requerido del catálogo ausente en el body."}}}},"/api/v1/catalogos/{tipo}/{item_id}":{"put":{"tags":["catalogos"],"summary":"Actualizar un item de catálogo (admin)","description":"[Uso interno administrativo] Actualiza un item existente en uno de los catálogos (`sexos`, `puestos`, `tipos-contratacion`, `tipos-personal`, `tipos-nomina`, `universos`, `sectores`, `niveles-salariales`). Sólo los campos válidos para ese catálogo son aplicados. Requiere JWT admin. El SDK Python `datos-mexico` no expone este endpoint por ser operacional, no analítico.","operationId":"update_catalog_item_api_v1_catalogos__tipo___item_id__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"tipo","in":"path","required":true,"schema":{"type":"string","title":"Tipo"}},{"name":"item_id","in":"path","required":true,"schema":{"type":"integer","title":"Item Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Body"}}}},"responses":{"200":{"description":"Item actualizado.","content":{"application/json":{"schema":{}}}},"401":{"description":"JWT ausente o inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError401"}}}},"403":{"description":"Usuario autenticado sin privilegios admin.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError403"}}}},"404":{"description":"`tipo` de catálogo o `item_id` no existe.","content":{"application/json":{"example":{"detail":"sectores item 999 not found"},"schema":{"$ref":"#/components/schemas/HTTPError404"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["catalogos"],"summary":"Eliminar un item de catálogo (admin) — bloqueado si hay FK refs","description":"[Uso interno administrativo] Elimina un item de catálogo. **Devuelve 409 si hay nombramientos o personas que referencian este item** — primero hay que migrarlos o eliminarlos. Requiere JWT admin. El SDK Python `datos-mexico` no expone este endpoint por ser operacional, no analítico.","operationId":"delete_catalog_item_api_v1_catalogos__tipo___item_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"tipo","in":"path","required":true,"schema":{"type":"string","title":"Tipo"}},{"name":"item_id","in":"path","required":true,"schema":{"type":"integer","title":"Item Id"}}],"responses":{"204":{"description":"Item eliminado (sin body)."},"401":{"description":"JWT ausente o inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError401"}}}},"403":{"description":"Usuario autenticado sin privilegios admin.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError403"}}}},"404":{"description":"`tipo` o `item_id` no existe.","content":{"application/json":{"example":{"detail":"puestos item 999 not found"},"schema":{"$ref":"#/components/schemas/HTTPError404"}}}},"409":{"description":"El item tiene FK refs activas (no se puede borrar).","content":{"application/json":{"example":{"detail":"Cannot delete: 80000 records reference this puestos item"},"schema":{"$ref":"#/components/schemas/HTTPError409"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/export/csv":{"get":{"tags":["export"],"summary":"Exportar nombramientos CDMX en CSV (≤ 50 000 filas)","description":"Exporta hasta 50 000 filas del padrón CDMX en formato CSV (`text/csv`, `Content-Disposition: attachment`) con los mismos filtros que `GET /api/v1/servidores/`. Columnas: `id`, `nombre`, `apellido_1`, `apellido_2`, `sexo`, `edad`, `sueldo_bruto`, `sueldo_neto`, `fecha_ingreso`, `sector`, `puesto`, `tipo_contratacion`, `tipo_personal`, `tipo_nomina`, `universo`. Para exports más grandes consumir paginado vía `/api/v1/servidores/`. Rate limit estricto (5/min/IP) — endpoint diseñado para descarga puntual, no para bulk extraction continua.","operationId":"export_csv_api_v1_export_csv_get","parameters":[{"name":"sector_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Sector Id"}},{"name":"sexo","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sexo"}},{"name":"edad_min","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Edad Min"}},{"name":"edad_max","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Edad Max"}},{"name":"sueldo_min","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"},{"type":"null"}],"title":"Sueldo Min"}},{"name":"sueldo_max","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"string","pattern":"^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"},{"type":"null"}],"title":"Sueldo Max"}},{"name":"puesto_search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Puesto Search"}},{"name":"tipo_contratacion_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Tipo Contratacion Id"}},{"name":"tipo_personal_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Tipo Personal Id"}},{"name":"universo_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Universo Id"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"default":50,"title":"Per Page"}},{"name":"order_by","in":"query","required":false,"schema":{"type":"string","default":"id","title":"Order By"}},{"name":"order","in":"query","required":false,"schema":{"type":"string","default":"asc","title":"Order"}}],"responses":{"200":{"description":"Stream CSV con headers de descarga.","content":{"application/json":{"schema":{}},"text/csv":{"example":"id,nombre,apellido_1,apellido_2,sexo,edad,sueldo_bruto,sueldo_neto,fecha_ingreso,sector,puesto,tipo_contratacion,tipo_personal,tipo_nomina,universo\n1,JUAN,PEREZ,GARCIA,MASCULINO,42,18500.00,14820.50,2015-03-12,Secretaría de Movilidad,JEFE DE UNIDAD,Base,Operativo,8,A\n"}}},"429":{"description":"Rate limit excedido (5 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/dashboard/stats":{"get":{"tags":["dashboard"],"summary":"Snapshot agregado del padrón CDMX","description":"Devuelve un snapshot completo del dataset de servidores públicos de la CDMX (246K nombramientos): totales, percentiles salariales (p25/p50/p75/p90), distribuciones por sueldo / edad / contratación / tipo de personal, top 15 sectores, brecha de género por sector (top 10 por magnitud absoluta), posiciones más frecuentes, distribución de antigüedad, y desglose bruto vs neto por rango. Las cifras provienen mayoritariamente de las cinco materialized views `cdmx.mv_dashboard_*` (refresco vía `POST /api/v1/admin/refresh-materialized-views`). Cache HTTP `public, max-age=3600`.","operationId":"dashboard_stats_api_v1_dashboard_stats_get","responses":{"200":{"description":"Snapshot completo del padrón CDMX.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardStats"},"example":{"totalServidores":246821,"totalSectors":73,"avgSalary":16842.33,"medianSalary":12500.0,"minSalary":0.0,"maxSalary":220000.0,"p25":8500.0,"p50":12500.0,"p75":22000.0,"p90":45000.0,"genderGapPercent":14.2,"hombres":132540,"mujeres":114281,"avgSalaryMale":17920.5,"avgSalaryFemale":15685.4,"salaryDistribution":[{"label":"Menos de $5K","count":12005},{"label":"$5K - $10K","count":89215}],"ageDistribution":[{"label":"18-25","count":4210},{"label":"26-35","count":51820}],"contractTypes":[{"label":"Base","count":153000}],"personalTypes":[{"label":"Operativo","count":188100}],"salaryByAge":[{"label":"26-35","avg":14200.55}],"top15Sectors":[{"name":"Secretaría de Seguridad Ciudadana","count":88500,"avgSalary":14200.0,"avgMale":14820.0,"avgFemale":13050.0}],"allSectors":[],"genderGapBySector":[{"name":"Servicios de Salud Pública","avgMale":18000.0,"avgFemale":14200.0,"gap":26.76}],"topPositions":[{"name":"POLICIA","count":80000,"avgSalary":13800.0}],"seniorityDistribution":[{"label":"0-5 años","count":64000}],"salaryBySeniority":[{"label":"0-5 años","avg":12000.0,"count":64000}],"avgSeniority":11.4,"avgNetSalary":13950.2,"avgDeduction":2892.13,"avgDeductionPercent":17.18,"brutoNetoByRange":[{"label":"$10K - $20K","avgBruto":14200.0,"avgNeto":11700.0,"count":95000}]}}}},"429":{"description":"Rate limit excedido (10 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/analytics/puestos/ranking":{"get":{"tags":["analytics"],"summary":"Top puestos por sueldo promedio (RANK + PERCENT_RANK + LAG)","description":"Top puestos del padrón CDMX ordenados por sueldo bruto promedio descendente. Cada fila incluye `rank` (RANK), `percent_rank` (PERCENT_RANK normalizado 0..1) y `gap_vs_next` (diferencia absoluta vs el sueldo del puesto anterior — útil para detectar saltos discontinuos en la curva). Filtro implícito: sólo puestos con `COUNT(*) >= 5` para evitar outliers de un solo nombramiento. Cache HTTP `public, max-age=900`.","operationId":"puestos_ranking_api_v1_analytics_puestos_ranking_get","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Limit"}}],"responses":{"200":{"description":"Lista rankeada de puestos.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PuestoRanking"},"title":"Response Puestos Ranking Api V1 Analytics Puestos Ranking Get"},"example":[{"puesto_id":1024,"nombre":"DIRECTOR EJECUTIVO","avg_sueldo":78500.0,"count":12,"rank":1,"percent_rank":1.0},{"puesto_id":1025,"nombre":"DIRECTOR GENERAL DE AREA","avg_sueldo":72100.5,"count":45,"rank":2,"percent_rank":0.9982,"gap_vs_next":6399.5}]}}},"429":{"description":"Rate limit excedido (20 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/analytics/sectores/ranking":{"get":{"tags":["analytics"],"summary":"Sectores rankeados por sueldo promedio (con desviación vs media global)","description":"Los 73 sectores del padrón CDMX rankeados por sueldo bruto promedio descendente. Cada fila incluye `avg_vs_global_pct` (desviación porcentual del sector respecto al promedio global computado con `AVG() OVER ()`), útil para identificar sectores atípicos por encima o debajo de la media institucional. Cache HTTP `public, max-age=900`.","operationId":"sectores_ranking_api_v1_analytics_sectores_ranking_get","responses":{"200":{"description":"Lista rankeada de los 73 sectores.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/SectorRanking"},"type":"array","title":"Response Sectores Ranking Api V1 Analytics Sectores Ranking Get"},"example":[{"sector_id":12,"nombre":"Procuraduría General de Justicia","avg_sueldo":24500.0,"count":8200,"rank":1,"percent_rank":1.0,"avg_vs_global_pct":45.45},{"sector_id":45,"nombre":"Sistema de Aguas de la Ciudad","avg_sueldo":16842.33,"count":6750,"rank":37,"percent_rank":0.5,"avg_vs_global_pct":0.0}]}}},"429":{"description":"Rate limit excedido (20 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/analytics/brecha-edad":{"get":{"tags":["analytics"],"summary":"Brecha salarial por grupo etario (con referencia global)","description":"Brecha salarial hombre/mujer (`gap_pct = (avg_male - avg_female) / avg_female * 100`) por bucket de edad: `18-25`, `26-35`, `36-45`, `46-55`, `56+`. Devuelve también `running_avg_global` (promedio del padrón completo replicado en cada fila, vía `AVG() OVER ()`) para que el consumidor compare cada bucket con el promedio global sin emitir un request adicional. Cache HTTP `public, max-age=900`.","operationId":"brecha_edad_api_v1_analytics_brecha_edad_get","responses":{"200":{"description":"Brecha por grupo etario (5 buckets).","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/BrechaEdadRow"},"type":"array","title":"Response Brecha Edad Api V1 Analytics Brecha Edad Get"},"example":[{"bucket_edad":"18-25","avg_male":9820.0,"avg_female":9450.0,"count_male":2310,"count_female":1900,"gap_pct":3.92,"running_avg_global":16842.33},{"bucket_edad":"46-55","avg_male":22480.5,"avg_female":18925.2,"count_male":30200,"count_female":26800,"gap_pct":18.79,"running_avg_global":16842.33}]}}},"429":{"description":"Rate limit excedido (20 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/admin/refresh-materialized-views":{"post":{"tags":["admin"],"summary":"[Operacional] Refrescar las 5 materialized views del schema cdmx","description":"**Operacional — no debe consumirse desde producción de forma programática** (cron externo, scheduler del consumidor, etc.). Refresca las cinco materialized views del schema `cdmx` (`mv_dashboard_overview`, `mv_dashboard_sectors`, `mv_dashboard_top_positions`, `mv_dashboard_salary_by_age`, `mv_dashboard_seniority`) ejecutando `REFRESH MATERIALIZED VIEW CONCURRENTLY` (no bloquea lecturas concurrentes pero es operación cara: típicamente 2-8 segundos en el dataset actual). Diseñado para invocación manual o disparado únicamente por pipeline interno del observatorio tras una ingesta. Rate limit estricto (5/min/IP). Requiere JWT admin.","operationId":"refresh_materialized_views_api_v1_admin_refresh_materialized_views_post","responses":{"200":{"description":"Refresco completado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshResponse"},"example":{"refreshed":["cdmx.mv_dashboard_overview","cdmx.mv_dashboard_sectors","cdmx.mv_dashboard_top_positions","cdmx.mv_dashboard_salary_by_age","cdmx.mv_dashboard_seniority"],"duration_ms":4250}}}},"401":{"description":"JWT ausente o inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError401"}}}},"403":{"description":"Usuario autenticado sin privilegios admin.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError403"}}}},"429":{"description":"Rate limit excedido (5 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/personas/":{"get":{"tags":["personas"],"summary":"Listar personas del padrón con paginación y búsqueda","description":"[Uso interno administrativo] Lista paginada de personas del padrón CDMX. Soporta filtros por `nombre` (ILIKE sobre nombre, apellido_1 y apellido_2 simultáneamente) y `sexo_id`. Requiere JWT admin. El SDK Python `datos-mexico` no expone este endpoint por ser operacional, no analítico.","operationId":"list_personas_api_v1_personas__get","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"default":50,"title":"Per Page"}},{"name":"nombre","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nombre"}},{"name":"sexo_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Sexo Id"}}],"responses":{"200":{"description":"Página de personas.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponse_PersonaResponse_"},"example":{"data":[{"id":42,"nombre":"MARIA","apellido_1":"RODRIGUEZ","apellido_2":"LOPEZ","sexo_id":2,"edad":38}],"total":246821,"page":1,"per_page":50,"pages":4937}}}},"429":{"description":"Rate limit excedido (30 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["personas"],"summary":"Crear una persona (admin)","description":"[Uso interno administrativo] Inserta una persona nueva en el padrón. Requiere JWT admin. El SDK Python `datos-mexico` no expone este endpoint por ser operacional, no analítico.","operationId":"create_persona_api_v1_personas__post","security":[{"OAuth2PasswordBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonaCreate"}}}},"responses":{"201":{"description":"Persona creada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonaResponse"},"example":{"id":42,"nombre":"MARIA","apellido_1":"RODRIGUEZ","apellido_2":"LOPEZ","sexo_id":2,"edad":38}}}},"401":{"description":"JWT ausente o inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError401"}}}},"403":{"description":"Usuario autenticado sin privilegios admin.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError403"}}}},"422":{"description":"`sexo_id` no existe en `cdmx.cat_sexos`, o body inválido."}}}},"/api/v1/personas/{persona_id}":{"get":{"tags":["personas"],"summary":"Detalle de una persona por ID","description":"[Uso interno administrativo] Detalle de una persona del padrón por su ID numérico. Requiere JWT admin. El SDK Python `datos-mexico` no expone este endpoint por ser operacional, no analítico.","operationId":"get_persona_api_v1_personas__persona_id__get","parameters":[{"name":"persona_id","in":"path","required":true,"schema":{"type":"integer","title":"Persona Id"}}],"responses":{"200":{"description":"Detalle de persona.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonaResponse"},"example":{"id":42,"nombre":"MARIA","apellido_1":"RODRIGUEZ","apellido_2":"LOPEZ","sexo_id":2,"edad":38}}}},"404":{"description":"`persona_id` no existe.","content":{"application/json":{"example":{"detail":"Persona no encontrada"},"schema":{"$ref":"#/components/schemas/HTTPError404"}}}},"429":{"description":"Rate limit excedido (60 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["personas"],"summary":"Actualizar una persona (admin)","description":"[Uso interno administrativo] Actualiza campos de una persona existente. Sólo los campos enviados en el body se modifican (`exclude_unset=True`). Requiere JWT admin. El SDK Python `datos-mexico` no expone este endpoint por ser operacional, no analítico.","operationId":"update_persona_api_v1_personas__persona_id__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"persona_id","in":"path","required":true,"schema":{"type":"integer","title":"Persona Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonaUpdate"}}}},"responses":{"200":{"description":"Persona actualizada.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonaResponse"},"example":{"id":42,"nombre":"MARIA","apellido_1":"RODRIGUEZ","apellido_2":"LOPEZ","sexo_id":2,"edad":38}}}},"401":{"description":"JWT ausente o inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError401"}}}},"403":{"description":"Usuario autenticado sin privilegios admin.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError403"}}}},"404":{"description":"`persona_id` no existe.","content":{"application/json":{"example":{"detail":"Persona no encontrada"},"schema":{"$ref":"#/components/schemas/HTTPError404"}}}},"422":{"description":"`sexo_id` no existe, o body inválido."}}},"delete":{"tags":["personas"],"summary":"Eliminar una persona (admin) — requiere que no tenga nombramientos","description":"[Uso interno administrativo] Elimina una persona del padrón. **Devuelve 409 si la persona tiene nombramientos activos** — primero hay que eliminar los nombramientos. Requiere JWT admin. El SDK Python `datos-mexico` no expone este endpoint por ser operacional, no analítico.","operationId":"delete_persona_api_v1_personas__persona_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"persona_id","in":"path","required":true,"schema":{"type":"integer","title":"Persona Id"}}],"responses":{"204":{"description":"Persona eliminada (sin body)."},"401":{"description":"JWT ausente o inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError401"}}}},"403":{"description":"Usuario autenticado sin privilegios admin.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError403"}}}},"404":{"description":"`persona_id` no existe.","content":{"application/json":{"example":{"detail":"Persona no encontrada"},"schema":{"$ref":"#/components/schemas/HTTPError404"}}}},"409":{"description":"La persona tiene nombramientos referenciados.","content":{"application/json":{"example":{"detail":"Cannot delete persona with active nombramientos"},"schema":{"$ref":"#/components/schemas/HTTPError409"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/nombramientos/":{"get":{"tags":["nombramientos"],"summary":"Listar nombramientos con paginación y filtros","description":"[Uso interno administrativo] Lista paginada de nombramientos. Soporta filtros por `persona_id` y `sector_id`. Requiere JWT admin. El SDK Python `datos-mexico` no expone este endpoint por ser operacional, no analítico.","operationId":"list_nombramientos_api_v1_nombramientos__get","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"default":50,"title":"Per Page"}},{"name":"persona_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Persona Id"}},{"name":"sector_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Sector Id"}}],"responses":{"200":{"description":"Página de nombramientos.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponse_NombramientoResponse_"},"example":{"data":[{"id":12345,"persona_id":42,"puesto_id":1024,"sector_id":8,"tipo_nomina_id":8,"tipo_contratacion_id":1,"tipo_personal_id":2,"universo_id":3,"nivel_salarial_id":11,"fecha_ingreso":"2015-03-12","sueldo_bruto":"18500.00","sueldo_neto":"14820.50"}],"total":246821,"page":1,"per_page":50,"pages":4937}}}},"429":{"description":"Rate limit excedido (30 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["nombramientos"],"summary":"Crear un nombramiento (admin)","description":"[Uso interno administrativo] Inserta un nombramiento nuevo asociado a una `persona_id`. Valida que la persona exista y que todos los IDs de catálogo (`puesto_id`, `sector_id`, etc.) referenciados existan. Requiere JWT admin. El SDK Python `datos-mexico` no expone este endpoint por ser operacional, no analítico.","operationId":"create_nombramiento_api_v1_nombramientos__post","security":[{"OAuth2PasswordBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NombramientoCreate"}}}},"responses":{"201":{"description":"Nombramiento creado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NombramientoResponse"},"example":{"id":12345,"persona_id":42,"puesto_id":1024,"sector_id":8,"tipo_nomina_id":8,"tipo_contratacion_id":1,"tipo_personal_id":2,"universo_id":3,"nivel_salarial_id":11,"fecha_ingreso":"2015-03-12","sueldo_bruto":"18500.00","sueldo_neto":"14820.50"}}}},"401":{"description":"JWT ausente o inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError401"}}}},"403":{"description":"Usuario autenticado sin privilegios admin.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError403"}}}},"422":{"description":"`persona_id` o algún `*_id` de catálogo no existe."}}}},"/api/v1/nombramientos/{nombramiento_id}":{"get":{"tags":["nombramientos"],"summary":"Detalle de un nombramiento por ID","description":"[Uso interno administrativo] Detalle de un nombramiento por su ID numérico. Requiere JWT admin. El SDK Python `datos-mexico` no expone este endpoint por ser operacional, no analítico.","operationId":"get_nombramiento_api_v1_nombramientos__nombramiento_id__get","parameters":[{"name":"nombramiento_id","in":"path","required":true,"schema":{"type":"integer","title":"Nombramiento Id"}}],"responses":{"200":{"description":"Detalle de nombramiento.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NombramientoResponse"},"example":{"id":12345,"persona_id":42,"puesto_id":1024,"sector_id":8,"tipo_nomina_id":8,"tipo_contratacion_id":1,"tipo_personal_id":2,"universo_id":3,"nivel_salarial_id":11,"fecha_ingreso":"2015-03-12","sueldo_bruto":"18500.00","sueldo_neto":"14820.50"}}}},"404":{"description":"`nombramiento_id` no existe.","content":{"application/json":{"example":{"detail":"Nombramiento no encontrado"},"schema":{"$ref":"#/components/schemas/HTTPError404"}}}},"429":{"description":"Rate limit excedido (60 req/min por IP).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["nombramientos"],"summary":"Actualizar un nombramiento (admin)","description":"[Uso interno administrativo] Actualiza campos de un nombramiento existente. Sólo los campos enviados se modifican (`exclude_unset=True`). Valida FKs referenciadas. Requiere JWT admin. El SDK Python `datos-mexico` no expone este endpoint por ser operacional, no analítico.","operationId":"update_nombramiento_api_v1_nombramientos__nombramiento_id__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"nombramiento_id","in":"path","required":true,"schema":{"type":"integer","title":"Nombramiento Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NombramientoUpdate"}}}},"responses":{"200":{"description":"Nombramiento actualizado.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NombramientoResponse"},"example":{"id":12345,"persona_id":42,"puesto_id":1024,"sector_id":8,"tipo_nomina_id":8,"tipo_contratacion_id":1,"tipo_personal_id":2,"universo_id":3,"nivel_salarial_id":11,"fecha_ingreso":"2015-03-12","sueldo_bruto":"18500.00","sueldo_neto":"14820.50"}}}},"401":{"description":"JWT ausente o inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError401"}}}},"403":{"description":"Usuario autenticado sin privilegios admin.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError403"}}}},"404":{"description":"`nombramiento_id` no existe.","content":{"application/json":{"example":{"detail":"Nombramiento no encontrado"},"schema":{"$ref":"#/components/schemas/HTTPError404"}}}},"422":{"description":"Algún `*_id` de catálogo en el body no existe."}}},"delete":{"tags":["nombramientos"],"summary":"Eliminar un nombramiento (admin)","description":"[Uso interno administrativo] Elimina un nombramiento existente. No tiene constraint FK de cascada — la persona padre permanece. Requiere JWT admin. El SDK Python `datos-mexico` no expone este endpoint por ser operacional, no analítico.","operationId":"delete_nombramiento_api_v1_nombramientos__nombramiento_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"nombramiento_id","in":"path","required":true,"schema":{"type":"integer","title":"Nombramiento Id"}}],"responses":{"204":{"description":"Nombramiento eliminado (sin body)."},"401":{"description":"JWT ausente o inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError401"}}}},"403":{"description":"Usuario autenticado sin privilegios admin.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError403"}}}},"404":{"description":"`nombramiento_id` no existe.","content":{"application/json":{"example":{"detail":"Nombramiento no encontrado"},"schema":{"$ref":"#/components/schemas/HTTPError404"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/ingest/csv":{"post":{"tags":["ingest"],"summary":"Cargar CSV completo del padrón CDMX (admin) — operación cara","description":"[Uso interno administrativo] Carga un CSV completo del padrón CDMX (`remuneraciones_cdmx.csv`, ~246K filas, 45MB) en una sola transacción. Mantiene caches en memoria por catálogo para deduplicar IDs durante la pasada (idempotente para los catálogos: si un valor ya existe, se reutiliza su ID; nuevo valor crea fila en el catálogo correspondiente). Crea filas en `cdmx.personas` y `cdmx.nombramientos` por cada fila válida; filas con `nombre`/`apellido_1` ausentes se cuentan como errores (con detalle en `error_details[]` hasta 50 entries). Tiempo típico: ~30-90 s para el dataset completo. **Tras esta carga corresponde invocar manualmente `POST /api/v1/admin/refresh-materialized-views`** para refrescar el snapshot del dashboard. Requiere JWT admin. El SDK Python `datos-mexico` no expone este endpoint por ser operacional.","operationId":"ingest_csv_api_v1_ingest_csv_post","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_ingest_csv_api_v1_ingest_csv_post"}}},"required":true},"responses":{"200":{"description":"Resumen de la ingesta (filas insertadas, errores, duración).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestResult"},"example":{"inserted":246810,"errors":11,"duration_seconds":67.3,"error_details":["Row 12005: missing nombre or apellido_1","Row 19842: missing nombre or apellido_1"]}}}},"401":{"description":"JWT ausente o inválido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError401"}}}},"403":{"description":"Usuario autenticado sin privilegios admin.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError403"}}}},"422":{"description":"El archivo subido no termina en `.csv`."}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/enigh/metadata":{"get":{"tags":["enigh"],"summary":"Enigh Metadata","description":"Metadata del dataset ENIGH 2024 NS: edición, fuentes, schema, totales.","operationId":"enigh_metadata_api_v1_enigh_metadata_get","responses":{"200":{"description":"Metadata completa del dataset ENIGH 2024 NS.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnighMetadata"},"example":{"edition":"ENIGH 2024 Nueva Serie","periodicity":"trimestral (expandido a nacional con factor)","reference_date":"2024 (levantamiento agosto-noviembre)","schema_version":"007","last_updated":"2026-04-22","total_hogares_muestra":91414,"total_hogares_expandido":38845190,"total_tablas_ingestadas":17,"total_catalogos":111,"sources":[],"methodology_notes":[]}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/enigh/validaciones":{"get":{"tags":["enigh"],"summary":"Enigh Validaciones","description":"Los 13 bounds HIGH vs INEGI oficial (Comunicado 112/25).\n\n- 3 bounds ingreso (total, decil 1, decil 10) — trimestrales\n- 10 bounds gasto (gasto_mon + 9 rubros) — mensuales\n\nTodos reproducen al peso al 2026-04-22 (ver proyect memory S3, S5).","operationId":"enigh_validaciones_api_v1_enigh_validaciones_get","responses":{"200":{"description":"13 bounds HIGH vs INEGI Comunicado 112/25 (3 ingreso trimestrales + 10 gasto mensuales).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidacionesResponse"},"example":{"count":13,"passing":13,"failing":0,"bounds":[{"id":"ingreso_total","scope":"total","metric":"Ingreso corriente promedio por hogar (total)","column":"ing_cor","unit":"pesos trimestrales por hogar","calculado":77864.0,"oficial":77864.0,"delta_pct":0.0,"tolerance_pct":1.0,"passing":true,"source":"INEGI Comunicado 112/25 p.5/6 cuadro 2"}]}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/enigh/hogares/summary":{"get":{"tags":["enigh"],"summary":"Hogares Summary","description":"Agregado nacional ponderado: hogares muestra + expandido, mean ing_cor, mean gasto_mon.","operationId":"hogares_summary_api_v1_enigh_hogares_summary_get","responses":{"200":{"description":"Agregado nacional ponderado de hogares ENIGH 2024 NS.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HogaresSummary"},"example":{"n_hogares_muestra":91414,"n_hogares_expandido":38845190,"mean_ing_cor_trim":77864.0,"mean_ing_cor_mensual":25954.67,"mean_gasto_mon_trim":47673.0,"mean_gasto_mon_mensual":15891.0,"edition":"ENIGH 2024 Nueva Serie","source":"INEGI ENIGH 2024 NS — concentradohogar (tabla summary oficial)"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/enigh/hogares/by-decil":{"get":{"tags":["enigh"],"summary":"Hogares By Decil","description":"Distribución de ingreso/gasto por decil nacional (factor-weighted cumulative, INEGI-standard).","operationId":"hogares_by_decil_api_v1_enigh_hogares_by_decil_get","responses":{"200":{"description":"10 deciles nacionales por factor-weighted cumulative sum (INEGI-standard).","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/DecilRow"},"type":"array","title":"Response Hogares By Decil Api V1 Enigh Hogares By Decil Get"},"example":[{"decil":1,"n_hogares_muestra":9141,"n_hogares_expandido":3884519,"mean_ing_cor_trim":16795.0,"mean_ing_cor_mensual":5598.33,"mean_gasto_mon_trim":14550.0,"share_factor_pct":10.0}]}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/enigh/hogares/by-entidad":{"get":{"tags":["enigh"],"summary":"Hogares By Entidad","description":"Hogares agregados por entidad. Orden descendente por mean ing_cor.","operationId":"hogares_by_entidad_api_v1_enigh_hogares_by_entidad_get","parameters":[{"name":"entidad","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^\\d{2}$"},{"type":"null"}],"description":"Clave entidad 2 dígitos (01-32). Si omite, devuelve las 32.","title":"Entidad"},"description":"Clave entidad 2 dígitos (01-32). Si omite, devuelve las 32."}],"responses":{"200":{"description":"Hogares agregados por entidad federativa (32 filas o filtrado por `entidad`).","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EntidadRow"},"title":"Response Hogares By Entidad Api V1 Enigh Hogares By Entidad Get"},"example":[{"clave":"09","nombre":"Ciudad de México","n_hogares_muestra":4520,"n_hogares_expandido":2810000,"mean_ing_cor_trim":95300.0,"mean_ing_cor_mensual":31766.67,"mean_gasto_mon_trim":58200.0}]}}},"404":{"description":"`entidad` no encontrada en el filtro."},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/enigh/poblacion/demographics":{"get":{"tags":["enigh"],"summary":"Poblacion Demographics","description":"Pirámide demográfica ponderada: sexo + 5 cohortes etarios. Opcional por entidad.","operationId":"poblacion_demographics_api_v1_enigh_poblacion_demographics_get","parameters":[{"name":"entidad","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^\\d{2}$"},{"type":"null"}],"title":"Entidad"}}],"responses":{"200":{"description":"Pirámide demográfica ponderada (sexo + 5 cohortes etarios).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemographicsResponse"},"example":{"scope":"nacional","n_personas_muestra":308598,"n_personas_expandido":130100000,"sexo":[{"sexo":"1","n":63500000},{"sexo":"2","n":66600000}],"edad":[{"bucket":"0-14","n_expandido":30200000}]}}}},"404":{"description":"`entidad` no encontrada."},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/enigh/gastos/by-rubro":{"get":{"tags":["enigh"],"summary":"Gastos By Rubro","description":"Los 9 rubros INEGI desde concentradohogar (summary oficial).\n\nCuando `decil` se especifica, la query se filtra a ese decil y `pct_del_monetario`\nse calcula respecto al gasto_mon de ese decil. Los valores `oficial_mensual` solo\naplican al total nacional (no a deciles específicos).","operationId":"gastos_by_rubro_api_v1_enigh_gastos_by_rubro_get","parameters":[{"name":"decil","in":"query","required":false,"schema":{"anyOf":[{"type":"integer","maximum":10,"minimum":1},{"type":"null"}],"title":"Decil"}}],"responses":{"200":{"description":"9 rubros INEGI con cifra mensual y trimestral por hogar.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RubrosResponse"},"example":{"scope":"nacional","rubros":[{"slug":"alimentos","nombre":"Alimentos, bebidas y tabaco","mean_mensual":5994.0,"mean_trim":17982.0,"share_pct":37.7}]}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/enigh/actividad/agro":{"get":{"tags":["enigh"],"summary":"Actividad Agro","description":"Hogares con actividad agropecuaria. Cobertura, distribución por decil, top entidades, ventas.","operationId":"actividad_agro_api_v1_enigh_actividad_agro_get","responses":{"200":{"description":"Hogares con actividad agropecuaria por decil nacional (DISTINCT folioviv/foliohog).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActividadAgroResponse"},"example":{"total_hogares_con_agro_expandido":12390000,"deciles":[{"decil":1,"n_hogares_expandido":1239000,"share_pct":31.9}]}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/enigh/actividad/noagro":{"get":{"tags":["enigh"],"summary":"Actividad Noagro","description":"Hogares con actividad NO agropecuaria (comercio, servicios, manufactura).","operationId":"actividad_noagro_api_v1_enigh_actividad_noagro_get","responses":{"200":{"description":"Hogares con actividad no agropecuaria por decil nacional.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActividadNoagroResponse"},"example":{"total_hogares_con_noagro_expandido":5800000,"deciles":[{"decil":1,"n_hogares_expandido":580000,"share_pct":10.0}]}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/enigh/actividad/jcf":{"get":{"tags":["enigh"],"summary":"Actividad Jcf","description":"Beneficiarios del Programa Jóvenes Construyendo el Futuro (JCF).\n\nDataset pequeño (n=327 muestra). Distribución por entidad + promedio ingreso trimestral.\nExpandido usa poblacion.factor (factor de persona, no hogar) porque\nbeneficiarios son individuos.","operationId":"actividad_jcf_api_v1_enigh_actividad_jcf_get","responses":{"200":{"description":"Hogares con ingresos por Jóvenes Construyendo el Futuro (327 hogares muestra).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActividadJcfResponse"},"example":{"total_hogares_jcf_muestra":327,"total_hogares_jcf_expandido":113000,"by_entidad":[{"clave":"31","nombre":"Yucatán","n_hogares_expandido":8500}]}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/comparativo/ingreso/cdmx-vs-nacional":{"get":{"tags":["comparativo"],"summary":"Ingreso Cdmx Vs Nacional","description":"Compara ingreso mensual en las 3 referencias relevantes.\n\n- CDMX servidor (persona): mean/median de sueldo_bruto mensual\n- ENIGH hogar nacional: mean ing_cor trim/3 (ponderado factor)\n- ENIGH hogar CDMX (entidad 09): mean ing_cor trim/3 ponderado\n\nLas 3 cifras responden preguntas distintas. Brechas y ratios se calculan\nvs servidor mean (base común), pero son ilustrativos — las unidades no\nson directamente comparables (persona vs hogar).","operationId":"ingreso_cdmx_vs_nacional_api_v1_comparativo_ingreso_cdmx_vs_nacional_get","responses":{"200":{"description":"Comparativo ingreso CDMX (padrón servidores) vs nacional (ENIGH).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngresoComparativoResponse"},"example":{"cdmx_mean_mensual":16842.33,"nacional_mean_mensual":25954.67,"ratio_cdmx_vs_nacional_pct":64.9,"n_cdmx":246821,"n_nacional_expandido":38845190}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/comparativo/decil-servidores-cdmx":{"get":{"tags":["comparativo"],"summary":"Decil Servidores Cdmx","description":"Mapea percentiles del sueldo servidor CDMX a deciles ENIGH bajo 2 escenarios.\n\n**Escenario A — Perceptor único**: el servidor es la única fuente de\ningreso del hogar. Ingreso hogar ≈ sueldo_bruto servidor directo.\n\n**Escenario B — Servidor + perceptor mediano asalariado**: se asume el\nhogar con 2 perceptores: el servidor CDMX más una persona con ingreso\nequivalente a la mediana nacional de 'Sueldos, salarios o jornal'\n(enigh.ingresos.clave='P001'). Aproximación más defendible que\n'2× sueldo servidor' porque no asume que la pareja gana igual; ancla\nen una distribución empírica externa (n≈106k perceptores asalariados).\n\nLos deciles ENIGH se definen por bounds min/max de ing_cor trimestral\ndividido entre 3 para comparar mensual. Pueden haber huecos estrechos\nentre el upper de un decil y el lower del siguiente; el mapeo\ndevuelve el decil más cercano en esos casos.\n\nTESIS CENTRAL del observatorio: cuantifica el posicionamiento del\nservidor público CDMX dentro de la distribución de ingresos hogar a\nnivel nacional, con supuestos explícitos y acotación por escenarios.","operationId":"decil_servidores_cdmx_api_v1_comparativo_decil_servidores_cdmx_get","responses":{"200":{"description":"Posición del padrón CDMX en los deciles nacionales ENIGH.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DecilServidoresResponse"},"example":{"cdmx_mean_mensual":16842.33,"decil_corresponde":4,"decil_bracket":[12500,18900],"tesis_central":"El servidor mediano CDMX se ubica en la frontera d2/d3 como perceptor único; con 2 perceptores alcanza d5."}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/comparativo/aportes-vs-jubilaciones-actuales":{"get":{"tags":["comparativo"],"summary":"Aportes Vs Jubilaciones Actuales","description":"Yuxtaposición descriptiva — NO proyección actuarial.\n\n- CDMX.deducciones (bruto - neto) es el agregado total: ISR + IMSS/ISSSTE\n  + SAR + otras deducciones. NO es separable a nivel registro.\n- ENIGH.jubilaciones son pensiones CURRENTLY cobradas por hogares ENIGH 2024\n  NS, no proyecciones de lo que recibirá un servidor CDMX al jubilarse.\n- Los sistemas y las generaciones tienen reglas distintas. La comparación\n  útil es magnitud relativa, no equivalencia.","operationId":"aportes_vs_jubilaciones_actuales_api_v1_comparativo_aportes_vs_jubilaciones_actuales_get","responses":{"200":{"description":"Comparativo aportes SAR (descontados al servidor CDMX) vs jubilación actual ENIGH.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AportesVsJubilacionesResponse"},"example":{"aporte_promedio_mensual_cdmx":1180.5,"jubilacion_actual_promedio_mensual_nacional":6420.0,"ratio_aporte_vs_jubilacion_pct":18.4}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/comparativo/actividad-cdmx-vs-nacional":{"get":{"tags":["comparativo"],"summary":"Actividad Cdmx Vs Nacional","description":"Contraste urbano/rural: % hogares con actividad agro y no-agro en CDMX vs nacional.\n\nEsperable: CDMX << nacional en agro (9.64% nacional, memory indica residuos\nperiurbanos Milpa Alta/Tláhuac/Xochimilco en CDMX); CDMX >= nacional en noagro\n(22.77% nacional; CDMX es metrópoli comercial con mayor actividad\nno-agropecuaria por hogar).","operationId":"actividad_cdmx_vs_nacional_api_v1_comparativo_actividad_cdmx_vs_nacional_get","responses":{"200":{"description":"Comparativo actividades de hogares CDMX vs nacional (agro / noagro / jcf).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActividadCdmxVsNacionalResponse"},"example":{"cdmx_agro_pct":0.8,"nacional_agro_pct":31.9,"cdmx_noagro_pct":18.5,"nacional_noagro_pct":14.9}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/comparativo/gastos/cdmx-vs-nacional":{"get":{"tags":["comparativo"],"summary":"Gastos Cdmx Vs Nacional","description":"Gasto mensual por rubro — los 9 rubros INEGI oficiales — CDMX vs nacional.\n\nDevuelve mean mensual por rubro en ambos scopes y delta absoluto + relativo,\nmás estructura de gasto (%) de cada rubro sobre el gasto monetario total.","operationId":"gastos_cdmx_vs_nacional_api_v1_comparativo_gastos_cdmx_vs_nacional_get","responses":{"200":{"description":"Comparativo gastos rubro a rubro CDMX vs nacional ENIGH.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GastosCdmxVsNacionalResponse"},"example":{"rubros":[{"slug":"alimentos","cdmx_pct":32.1,"nacional_pct":37.7,"delta_pp":-5.6}]}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/comparativo/bancarizacion":{"get":{"tags":["comparativo"],"summary":"Bancarizacion","description":"Uso de tarjeta (crédito o débito) en trimestre — CDMX vs nacional.\n\nDefinición operativa: \"hogar con ≥1 registro en enigh.gastotarjetas en\nel trimestre de referencia\". NO mide posesión de tarjeta, solo uso\nefectivo en trimestre; captura débito + crédito indistintamente.","operationId":"bancarizacion_api_v1_comparativo_bancarizacion_get","responses":{"200":{"description":"Bancarización (% hogares con cuenta) CDMX vs nacional. Cifra nacional corregida 7.1→8.87% en S7.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BancarizacionResponse"},"example":{"cdmx_pct":22.5,"nacional_pct":8.87,"delta_pp":13.63}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/comparativo/top-vs-bottom":{"get":{"tags":["comparativo"],"summary":"Top Vs Bottom","description":"Extremos CDMX (p1/p5/p10 vs p90/p95/p99) mapeados contra ENIGH d1 y d10.\n\nMuestra el rango completo de la brecha entre servidores públicos CDMX y la\ndistribución nacional de ingresos hogar. Insight central esperable:\nincluso el p99 CDMX (top 1% servidores) está debajo del mean mensual d10\nnacional — la distribución CDMX está comprimida respecto a la distribución\nnacional hogar (última incluye transferencias + rentas + múltiples perceptores).","operationId":"top_vs_bottom_api_v1_comparativo_top_vs_bottom_get","responses":{"200":{"description":"Comparativo d10 nacional vs decil más alto CDMX (top puestos).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TopVsBottomResponse"},"example":{"nacional_d10_mensual":78698.33,"cdmx_top_decil_mensual":45000.0,"ratio_pct":57.2}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/consar/afores":{"get":{"tags":["consar"],"summary":"Catálogo de las 11 AFOREs","description":"Lista todas las AFOREs del sistema mexicano de ahorro para el retiro, ordenadas por tamaño (recursos registrados en SAR a 2025-06-01). Incluye fecha_alta_serie (primer mes con datos no-nulos en el CSV oficial).","operationId":"get_afores_api_v1_consar_afores_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AforesResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/consar/tipos-recurso":{"get":{"tags":["consar"],"summary":"Catálogo de los 15 conceptos de recurso","description":"Lista los 15 tipos de recurso reportados mensualmente por CONSAR. Categoría: component (atómico), aggregate (suma de components), total (agregado AFORE/sistema), operativo (capital propio de la AFORE).","operationId":"get_tipos_recurso_api_v1_consar_tipos_recurso_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TiposRecursoResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/consar/recursos/totales":{"get":{"tags":["consar"],"summary":"Serie temporal: recursos totales registrados en el SAR (nacional)","description":"Retorna los 326 puntos mensuales de la serie de recursos totales registrados en el SAR a nivel sistema (suma sobre todas las AFOREs). Cobertura 1998-05-01 a 2025-06-01.","operationId":"get_totales_api_v1_consar_recursos_totales_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TotalesSarResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/consar/recursos/por-afore":{"get":{"tags":["consar"],"summary":"Snapshot mensual: recursos por AFORE en una fecha específica","description":"Retorna para la fecha indicada (YYYY-MM o YYYY-MM-01) los recursos totales SAR, recursos de los trabajadores y recursos administrados por cada una de las 11 AFOREs. Incluye % del sistema.","operationId":"get_por_afore_api_v1_consar_recursos_por_afore_get","parameters":[{"name":"fecha","in":"query","required":true,"schema":{"type":"string","description":"YYYY-MM o YYYY-MM-01 (ej. 2025-06 o 2025-06-01)","title":"Fecha"},"description":"YYYY-MM o YYYY-MM-01 (ej. 2025-06 o 2025-06-01)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PorAforeResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/consar/recursos/por-componente":{"get":{"tags":["consar"],"summary":"Snapshot mensual: desglose por tipo de recurso (nacional)","description":"Retorna para la fecha indicada (YYYY-MM) el monto agregado a nivel sistema para cada uno de los 15 tipos de recurso. Incluye % respecto al sar_total donde sea informativo (components y aggregates).","operationId":"get_por_componente_api_v1_consar_recursos_por_componente_get","parameters":[{"name":"fecha","in":"query","required":true,"schema":{"type":"string","description":"YYYY-MM o YYYY-MM-01","title":"Fecha"},"description":"YYYY-MM o YYYY-MM-01"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PorComponenteResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/consar/recursos/imss-vs-issste":{"get":{"tags":["consar"],"summary":"Serie temporal: RCV-IMSS vs RCV-ISSSTE (privado vs público)","description":"Retorna la serie mensual agregada a nivel sistema de RCV-IMSS (trabajadores del sector privado afiliados al IMSS) y RCV-ISSSTE (trabajadores del sector público). RCV-ISSSTE reportado desde ~2008 con la reforma ISSSTE.","operationId":"get_imss_vs_issste_api_v1_consar_recursos_imss_vs_issste_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImssVsIsssteeResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/consar/recursos/composicion":{"get":{"tags":["consar"],"summary":"Desglose contable del SAR: 8 componentes vs total reportado","description":"Para la fecha indicada, retorna los 8 componentes de la identidad sar_total (verificada empíricamente al peso en 98.83% de filas y 100% de filas 2020+). Incluye delta vs total reportado para transparencia sobre el residuo histórico.","operationId":"get_composicion_api_v1_consar_recursos_composicion_get","parameters":[{"name":"fecha","in":"query","required":true,"schema":{"type":"string","description":"YYYY-MM o YYYY-MM-01","title":"Fecha"},"description":"YYYY-MM o YYYY-MM-01"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComposicionResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/consar/recursos/serie":{"get":{"tags":["consar"],"summary":"Serie temporal por tipo de recurso (opcionalmente filtrada por AFORE)","description":"Retorna la serie mensual agregada del tipo de recurso indicado. Si `afore_codigo` se omite, suma todas las AFOREs (nacional). Parámetros `desde`/`hasta` aceptan YYYY-MM o YYYY-MM-01; default a la cobertura completa 1998-05 / 2025-06.","operationId":"get_serie_api_v1_consar_recursos_serie_get","parameters":[{"name":"codigo","in":"query","required":true,"schema":{"type":"string","description":"Código del tipo_recurso (p. ej. 'vivienda', 'rcv_imss', 'sar_total')","title":"Codigo"},"description":"Código del tipo_recurso (p. ej. 'vivienda', 'rcv_imss', 'sar_total')"},{"name":"afore_codigo","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Código AFORE opcional (p. ej. 'pension_bienestar'); si se omite, suma nacional","title":"Afore Codigo"},"description":"Código AFORE opcional (p. ej. 'pension_bienestar'); si se omite, suma nacional"},{"name":"desde","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"YYYY-MM o YYYY-MM-01 (default 1998-05)","title":"Desde"},"description":"YYYY-MM o YYYY-MM-01 (default 1998-05)"},{"name":"hasta","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"YYYY-MM o YYYY-MM-01 (default 2025-06)","title":"Hasta"},"description":"YYYY-MM o YYYY-MM-01 (default 2025-06)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SerieResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/consar/comisiones/serie":{"get":{"tags":["consar"],"summary":"Serie temporal: comisión cobrada por AFORE (% anual sobre saldo)","description":"Retorna la serie mensual de comisiones cobradas por una AFORE específica (o todas si se omite `afore_codigo`). Comisión expresada como porcentaje anual sobre saldo administrado (e.g. 1.96 = 1.96%). Cobertura 2008-03-01 → 2025-06-01.","operationId":"get_comisiones_serie_api_v1_consar_comisiones_serie_get","parameters":[{"name":"afore_codigo","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Código AFORE opcional (e.g. 'profuturo')","title":"Afore Codigo"},"description":"Código AFORE opcional (e.g. 'profuturo')"},{"name":"desde","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"YYYY-MM o YYYY-MM-01 (default 2008-03)","title":"Desde"},"description":"YYYY-MM o YYYY-MM-01 (default 2008-03)"},{"name":"hasta","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"YYYY-MM o YYYY-MM-01 (default 2025-06)","title":"Hasta"},"description":"YYYY-MM o YYYY-MM-01 (default 2025-06)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComisionSerieResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/consar/comisiones/snapshot":{"get":{"tags":["consar"],"summary":"Snapshot mensual: comisión cobrada por cada AFORE en una fecha específica","description":"Retorna para la fecha indicada (YYYY-MM o YYYY-MM-01) la comisión cobrada por cada una de las 10 AFOREs reportantes. Incluye promedio simple, mínima y máxima del sistema. Pensión Bienestar excluida (régimen sin comisión sobre saldo).","operationId":"get_comisiones_snapshot_api_v1_consar_comisiones_snapshot_get","parameters":[{"name":"fecha","in":"query","required":true,"schema":{"type":"string","description":"YYYY-MM o YYYY-MM-01 (cobertura 2008-03 a 2025-06)","title":"Fecha"},"description":"YYYY-MM o YYYY-MM-01 (cobertura 2008-03 a 2025-06)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComisionSnapshotResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/consar/flujos/serie":{"get":{"tags":["consar"],"summary":"Serie temporal: entradas/salidas mensuales por AFORE (o sistema)","description":"Retorna serie mensual de aportaciones brutas (`montos_entradas`) y retiros (`montos_salidas`) en mm MXN corrientes. Si `afore_codigo` se omite, suma sobre todas las AFOREs reportantes (sistema). Cobertura 2009-01-01 → 2025-06-01. `flujo_neto = montos_entradas - montos_salidas` (positivo = AFORE captando neto).","operationId":"get_flujos_serie_api_v1_consar_flujos_serie_get","parameters":[{"name":"afore_codigo","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Código AFORE opcional (e.g. 'xxi_banorte')","title":"Afore Codigo"},"description":"Código AFORE opcional (e.g. 'xxi_banorte')"},{"name":"desde","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"YYYY-MM o YYYY-MM-01 (default 2009-01)","title":"Desde"},"description":"YYYY-MM o YYYY-MM-01 (default 2009-01)"},{"name":"hasta","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"YYYY-MM o YYYY-MM-01 (default 2025-06)","title":"Hasta"},"description":"YYYY-MM o YYYY-MM-01 (default 2025-06)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlujoSerieResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/consar/flujos/snapshot":{"get":{"tags":["consar"],"summary":"Snapshot mensual: entradas/salidas por AFORE en una fecha","description":"Retorna para la fecha indicada (YYYY-MM o YYYY-MM-01) los flujos por cada AFORE reportante + totales del sistema. Cobertura 2009-01 → 2025-06.","operationId":"get_flujos_snapshot_api_v1_consar_flujos_snapshot_get","parameters":[{"name":"fecha","in":"query","required":true,"schema":{"type":"string","description":"YYYY-MM o YYYY-MM-01","title":"Fecha"},"description":"YYYY-MM o YYYY-MM-01"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlujoSnapshotResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/consar/traspasos/serie":{"get":{"tags":["consar"],"summary":"Serie temporal: cuentas cedidas/recibidas en traspasos por AFORE (o sistema)","description":"Retorna serie mensual de cuentas cedidas (perdidas) y recibidas (ganadas) en traspasos AFORE-AFORE. Si `afore_codigo` se omite, suma sobre todas las AFOREs. Cobertura 1998-11-01 → 2025-06-01. `traspaso_neto = recibido - cedido` (positivo = AFORE ganando cuentas neto).","operationId":"get_traspasos_serie_api_v1_consar_traspasos_serie_get","parameters":[{"name":"afore_codigo","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Afore Codigo"}},{"name":"desde","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Desde"}},{"name":"hasta","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Hasta"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TraspasoSerieResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/consar/traspasos/snapshot":{"get":{"tags":["consar"],"summary":"Snapshot mensual: traspasos por AFORE + identidad Σced=Σrec","description":"Retorna para la fecha indicada los traspasos cedidos/recibidos por cada AFORE reportante. Incluye verificación de la identidad implícita Σ cedidos = Σ recibidos (cada traspaso es 1+1).","operationId":"get_traspasos_snapshot_api_v1_consar_traspasos_snapshot_get","parameters":[{"name":"fecha","in":"query","required":true,"schema":{"type":"string","description":"YYYY-MM o YYYY-MM-01","title":"Fecha"},"description":"YYYY-MM o YYYY-MM-01"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TraspasoSnapshotResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/consar/pea-cotizantes/serie":{"get":{"tags":["consar"],"summary":"Serie anual: cobertura SAR sobre PEA mexicana (2010-2024)","description":"Retorna la serie anual nacional de la cobertura del SAR (cotizantes formales) sobre la PEA (Población Económicamente Activa) total. Incluye `brecha_no_cubierta_pct` (=100 - porcentaje) que integra informalidad, desempleo y elegibles no registrados. Cobertura 2010 → 2024 (15 puntos).","operationId":"get_pea_cotizantes_api_v1_consar_pea_cotizantes_serie_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PeaCotizantesResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}}}}},"/api/v1/consar/activo-neto/serie":{"get":{"tags":["consar"],"summary":"Serie temporal: activo neto atómico por (AFORE × SIEFORE)","description":"Retorna serie mensual de activo neto en MXN millones para una tupla (afore, siefore). Si la tupla proviene de un sub-variant concat decompuesto, expone mapping_validated y validated_via para transparencia. Cobertura 2019-12 → 2025-06.","operationId":"get_activo_neto_serie_api_v1_consar_activo_neto_serie_get","parameters":[{"name":"afore_codigo","in":"query","required":true,"schema":{"type":"string","description":"codigo en consar.afores (e.g. xxi_banorte, profuturo)","title":"Afore Codigo"},"description":"codigo en consar.afores (e.g. xxi_banorte, profuturo)"},{"name":"siefore_slug","in":"query","required":true,"schema":{"type":"string","description":"slug en consar.cat_siefore (e.g. sb 55-59, sps1)","title":"Siefore Slug"},"description":"slug en consar.cat_siefore (e.g. sb 55-59, sps1)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivoNetoSerieResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/consar/activo-neto/snapshot":{"get":{"tags":["consar"],"summary":"Snapshot mensual: matriz (AFORE × SIEFORE) de activo neto","description":"Retorna para una fecha mensual todas las tuplas (afore, siefore) con sus montos. Útil para dashboards de composición por afore. Cobertura 2019-12 → 2025-06.","operationId":"get_activo_neto_snapshot_api_v1_consar_activo_neto_snapshot_get","parameters":[{"name":"fecha","in":"query","required":true,"schema":{"type":"string","description":"YYYY-MM o YYYY-MM-01","title":"Fecha"},"description":"YYYY-MM o YYYY-MM-01"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivoNetoSnapshotResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/consar/activo-neto/agregado":{"get":{"tags":["consar"],"summary":"Serie temporal: agregado de activo neto por categoría (totales por afore)","description":"Retorna serie mensual de un agregado total reportado en CSV por afore. Categorías: act_neto_total_siefores, act_neto_total_basicas, act_neto_total_adicionales (esta última con 0 rows post-S16 — schema preparado, ver caveats). Cobertura 2019-12 → 2025-06.","operationId":"get_activo_neto_agregado_api_v1_consar_activo_neto_agregado_get","parameters":[{"name":"afore_codigo","in":"query","required":true,"schema":{"type":"string","description":"codigo en consar.afores","title":"Afore Codigo"},"description":"codigo en consar.afores"},{"name":"categoria","in":"query","required":true,"schema":{"type":"string","description":"act_neto_total_siefores | act_neto_total_basicas | act_neto_total_adicionales","title":"Categoria"},"description":"act_neto_total_siefores | act_neto_total_basicas | act_neto_total_adicionales"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivoNetoAggregadoResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/consar/rendimientos/serie":{"get":{"tags":["consar"],"summary":"Serie temporal: rendimiento atómico por (AFORE × SIEFORE × PLAZO)","description":"Retorna serie mensual de rendimiento (% anualizado neto) para una tupla (afore, siefore, plazo). Si la tupla proviene de un sub-variant concat decompuesto, expone mapping_validated y validated_via. Cobertura 2019-12 → 2025-06.","operationId":"get_rendimiento_serie_api_v1_consar_rendimientos_serie_get","parameters":[{"name":"afore_codigo","in":"query","required":true,"schema":{"type":"string","description":"codigo en consar.afores (e.g. xxi_banorte, profuturo)","title":"Afore Codigo"},"description":"codigo en consar.afores (e.g. xxi_banorte, profuturo)"},{"name":"siefore_slug","in":"query","required":true,"schema":{"type":"string","description":"slug en consar.cat_siefore (e.g. sb 60-64, sps3)","title":"Siefore Slug"},"description":"slug en consar.cat_siefore (e.g. sb 60-64, sps3)"},{"name":"plazo","in":"query","required":true,"schema":{"type":"string","description":"12_meses | 24_meses | 36_meses | 5_anios | historico","title":"Plazo"},"description":"12_meses | 24_meses | 36_meses | 5_anios | historico"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RendimientoSerieResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/consar/rendimientos/snapshot":{"get":{"tags":["consar"],"summary":"Snapshot mensual: matriz (AFORE × SIEFORE) de rendimiento para un plazo","description":"Retorna para una fecha y plazo todas las tuplas (afore, siefore) con sus rendimientos. Útil para dashboards comparativos de desempeño. Cobertura 2019-12 → 2025-06.","operationId":"get_rendimiento_snapshot_api_v1_consar_rendimientos_snapshot_get","parameters":[{"name":"fecha","in":"query","required":true,"schema":{"type":"string","description":"YYYY-MM o YYYY-MM-01","title":"Fecha"},"description":"YYYY-MM o YYYY-MM-01"},{"name":"plazo","in":"query","required":true,"schema":{"type":"string","description":"12_meses | 24_meses | 36_meses | 5_anios | historico","title":"Plazo"},"description":"12_meses | 24_meses | 36_meses | 5_anios | historico"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RendimientoSnapshotResponse"},"example":{"count":11,"fecha":"2025-06-01","source":"CONSAR — Sistema de Ahorro para el Retiro"}}}},"429":{"description":"Rate limit excedido.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPError429"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v
[...]
